<!DOCTYPE html>
<html>
  <head>
    <title>VALORANT: Skindex</title>
    <link rel="stylesheet" href="styles/start styles.css">
    <link rel="icon" href="static/valicon.ico">
    <script type="text/javascript" src="/eel.js"></script>
  </head>

  <body>
    <div id="startInputPanel">
      <h2>Enter your current valorant points</h2>
      <input type="text" placeholder="e.g. 1000, 2000" class="child textInput" id="pointInput" onclick="prepInput()">
      <p id="errorInput"></p>
      <button class="child startButton" id="sButton"> BEGIN </button>
    </div>
    <script type="text/javascript" src="scripts/start page.js"></script>
  </body>
</html>